@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #1175b5;
  --secondary: #283e8d;
  --white: #ffffff;
}

img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5px !important;
  }
  .nav a {
    margin-left: 10px;
  }
  .nav .nav_btn {
    margin-right: 10px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 168px;
  }

  .hero_title {
    max-width: 300px;
    font-size: 32px;
    line-height: 33px;
    padding-left: 0 !important;
  }
  .positions {
    padding: 10px !important;
  }

  .positions_left {
    flex-direction: column !important;
  }

  .positions_right {
    flex-direction: column-reverse !important;
  }

  .positions_left div:first-of-type {
    width: 100vw !important;
  }

  .positions_left div:last-of-type {
    width: 100% !important;
    padding-left: 0px !important;
  }

  .positions_right div:first-of-type {
    width: 100% !important;
    padding-right: 0px !important;
  }

  .positions_right div:last-of-type {
    width: 100vw !important;
  }

  h4 {
    font-size: 40px !important;

    line-height: 41px !important;
  }

  .banner {
    flex-direction: column !important;
    padding: 50px 0 40px !important;
  }

  .banner div {
    padding: 20px 0 !important;
  }

  form {
    flex-direction: column !important;
  }

  .formular_side:last-child {
    padding-left: 0px !important;
  }

  .formular h2::after {
    top: 88px !important;
  }
  .formular_input {
    padding: 5px 0;
  }
}

html {
  scroll-behavior: smooth;
}
.wrap {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/*general*/
body {
  margin: 0;
  background-color: var(--white);
  font-family: "Poppins";
  font-size: 16px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

p {
  line-height: 22px;
  margin-block-start: 0;
  margin-block-end: 5px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.hero_container {
  max-width: 1240px !important;
}

.p-l-30 {
  padding-left: 30px;
}

/*buttons*/
.btn {
  height: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  border-radius: 6px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  transition: 0.2s;
  text-transform: uppercase;
}
.primary {
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary:hover {
  color: var(--primary);
  background-color: var(--white);
  border: 2px solid var(--primary);
  transition: 0.2s;
}
.secondary {
  color: var(--primary);
  background-color: var(--white);
  border: 2px solid var(--primary) !important;
}
.secondary:hover {
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
  transition: 0.2s;
}

/*headlines*/
h1 {
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 54px;
}

h2 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin: 0 0 22px;
}

h2::after {
  content: "";
  position: absolute;
  background-color: var(--secondary);
  width: 34px;
  height: 4px;
  left: 1px;
  top: 42px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin: 0 0 26px;
}

h4 {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  line-height: 80px;
}

/* header */
header {
  height: 87px;
  background: #fff;
  width: 100%;
  border-bottom: solid 2px var(--primary);
}

.nav {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_btn {
  width: 168px;
}

/* hero image */
.hero_image {
  height: 580px;
  width: 100%;
  border-bottom: 5px solid var(--secondary);
  background-image: url(./assets/business.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  animation: slideBg 10s linear infinite 0s;
  animation-timing-function: ease-in-out;
}

@keyframes slideBg {
  0% {
    background-image: url(./assets/business2.jpg);
  }

  50% {
    background-image: url(./assets/business.jpg);
  }

  100% {
    background-image: url(./assets/business2.jpg);
  }
}

.hero_image:before {
  position: absolute;
  content: "";
  z-index: 2;
  background: linear-gradient(to right, var(--primary) 10%, #eeeeee05 35%);
  width: 100%;
  height: 100%;
}

.hero_title {
  position: absolute;
  padding-left: 35px;
  bottom: 61px;
  width: 768px;
  height: 147px;
  background: linear-gradient(to right, var(--primary) 60%, #1176b500 90%);
  z-index: 3;
  display: flex;
  align-items: center;
}

/*why us?*/
.why {
  padding: 50px 0 68px 0;
}

.why ul {
  list-style-type: none;
  counter-reset: li;
  padding: 0;
}

.why li {
  position: relative;
  line-height: 30px;
  padding-left: 40px;
}

.why li:before {
  position: absolute;
  content: counter(li) ".";
  counter-increment: li;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 100%;
  width: 25px;
  height: 25px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  bottom: 0;
}

/*free positions*/
.positions_wrapper {
  background-color: #f3f3f3;
}

.positions {
  padding: 50px 0 68px;
}

.positions_left,
.positions_right {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.positions_left,
.positions_right img {
  width: 100%;
  height: 100%;
}

.positions_right {
  margin: 60px 0;
  position: relative;
}

.positions_right:before,
.positions_right:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
}
.positions_right:before {
  bottom: -30px;
}

.positions_right:after {
  top: -30px;
}

.positions_left div:first-of-type {
  width: 40%;
}

.positions_left div:last-of-type {
  width: 60%;
  padding-left: 60px;
}

.positions_right div:first-of-type {
  width: 60%;
  padding-right: 60px;
}

.positions_right div:last-of-type {
  width: 40%;
}

/*banner*/
.banner_wrapper {
  z-index: 2;
  background-color: var(--primary);
}

.banner {
  padding: 100px 0 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-image: url(./assets/background.png);
  background-position: center;
  background-size: cover;
}

/*formular*/
.formular {
  padding: 50px 0 68px;
}

.formular_input {
  width: 232px;
}

.formular_btn {
  width: 200px;
  line-height: 0 !important;
  align-self: flex-end;
}

.formular_btn input {
  line-height: 0 !important;
}

form {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

form input {
  width: auto;
  padding: 8px;
  border-radius: 6px;
  border: 1.5px solid #efefef;
  background-color: #fcfcfc;
  margin-bottom: 15px;
  font-size: 16px;
}

form input::placeholder {
  color: #b3b3b3;
}

#checkbox {
  width: auto;
}

#label {
  letter-spacing: -0.2px;
}

.formular_side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formular_side:first-child {
  padding-right: 10px;
}

.formular_side:last-child {
  padding-left: 10px;
}

input[type="file" i] {
  display: none;
}

#label2 {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #2733e8;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-areas:
    "footer-heading footer-heading footer-heading"
    "footer-contact footer-contact footer-contact"
    "footer-contact-heading footer-contact-heading footer-contact-heading"
    "footer-contact-content footer-contact-support footer-contact-logo"
    "footer-contact-footer footer-contact-footer footer-contact-footer";

  grid-template-columns: 2fr 3fr 2fr;
}

.footer-heading {
  grid-area: footer-heading;
  display: flex;
  justify-content: center;
  padding: 150px 0 50px 0;
}

.footer-heading h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.footer-contact {
  grid-area: footer-contact;
  display: flex;
  justify-content: center;
}

.footer-contact a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 28px;
  transition: 250ms;
}

.footer-contact a:hover {
  background-color: white;
  color: #2733e8;
}

.footer-contact-heading {
  grid-area: footer-contact-heading;
}

.footer-contact-heading h5 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 70px 0 40px 0;
}

.footer-contact-content {
  grid-area: footer-contact-content;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-contact-content p {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  padding: 2px 0;
}

.footer-contact-support {
  grid-area: footer-contact-support;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-contact-support-wrap {
  display: grid;
}

.footer-contact-support-wrap img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.footer-contact-support-item {
  display: grid;
  grid-template-areas: "footer-contact-support-item-p footer-contact-support-item-a";
  grid-template-columns: 6fr 6fr;
  padding-left: 80px;
  place-items: center;
  margin: 4px 0;
}

.footer-contact-support-item div {
  display: flex;
  grid-area: footer-contact-support-item-p;
  width: 100%;
}

.footer-contact-support-item a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  width: 100%;
  transition: 250ms;
}

.footer-contact-support-item a:hover {
  background-color: white;
  color: #2733e8;
}
.footer-contact-support-item p {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  margin: 0;
}

.footer-contact-logo {
  grid-area: footer-contact-logo;
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer-contact-logo div {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 60px 30px;
  width: 200px;
}

.footer-contact-logo img {
  width: 100%;
  height: 100%;
}

.footer-contact-footer {
  padding: 50px 0;
  grid-area: footer-contact-footer;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .footer-grid {
    grid-template-areas:
      "footer-heading"
      "footer-contact"
      "footer-contact-heading"
      "footer-contact-content"
      "footer-contact-support"
      "footer-contact-logo"
      "footer-contact-footer";

    grid-template-columns: 1fr;
  }

  .footer-heading h4 {
    font-size: 22px !important;
  }

  .footer-contact a {
    font-size: 20px;
    padding: 10px 20px;
  }

  .footer-contact-heading h5 {
    font-size: 20px;
    padding: 20px 4px;
  }

  .footer-contact-content {
    border-right: none;
    padding: 10px 4px;
  }

  .footer-contact-support-item {
    padding-left: 0;
    padding: 0 4px;

    grid-template-columns: 3fr 4fr;
  }

  .footer-contact-support-item a {
    font-size: 14px;
    padding: 4px 5px;
  }

  .footer-contact-support {
    padding: 0 0 20px 0;
  }

  .footer-contact-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-contact-logo div {
    padding: 40px 15px;
  }
}
